@font-face {
	font-family: "menus";
	src: url(../ttf/opensans/OpenSans-Regular.ttf);
}
@font-face {
	font-family: "parrafos";
	src: url(../ttf/ubuntu/Ubuntu-R.ttf);
}

@import './utils/variables';
@import './components/navbar';
@import './views/formcontact';
@import './views/contact';
@import './components/footer';
@import './views/library';
@import './views/mission';
@import './views/reset';



