footer {
    background-color: #20005b;
    color: #ffffff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 70px;
    padding-right: 70px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    display: flex;

    small {
    display: inline-block;
    vertical-align: middle;
}

.social-media {
    display: flow-root;
    vertical-align: middle;
    padding-bottom: 10px;

    a {
        margin-left: 10px;
        color: #333;
        font-size: 18px;

    }
}
}

