.espacio {
	display: flex;
	justify-content: center;
	font-family: "parrafos";
}

.texto {
	text-align: justify;
	color: $color3;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 0 20px 20px 20px;
	font-family: "parrafos";
}
.parrafo {
	display: inline-block;
	text-align: center;
}

.fs-video-container {
	width: 100%;
    height: 250px;
    overflow: hidden;
}

.fs-video {
	width: 100%;
    height: auto;
    position: relative;
    top: -50%;
    left: 0;
    transform: translateY(-50%);
}